body{
    font-family: Lora, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    color: rgb(0, 95, 0);
    background-color: aliceblue;
}
h1{
    color: crimson;
}
a{
    color: crimson;
}
.backhome{
    color: crimson;
    text-decoration: none
}
.common {
    background-color: antiquewhite;
    border: 2px solid crimson;
    position: relative;
    padding-left: 8px;
    padding-right: 8px;
    right: 2px;
    left: 2px;
}
.header{
   
}
.body{
    top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.extra{
    top: 10px;
    bottom: 30px;
    padding-bottom: 15px;
}